@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

.video-background {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-2{
    position: relative;
    z-index: 1;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.section-1{
    padding-top: 40vh;
    padding-left: 5vh;
    text-align: left;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 15px;
    margin:0;
    color: #7A7C80;
}

.section-1 h1{
	font-size: 3rem;
    margin-bottom: 30px;
}

.section-1 h2{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.section-1 a{
    padding: 10px;
}

button {
	color: #ffffff;
	background-color: #3b3b3b;
	font-size: 15px;
	border: 1px solid #ffffff;
	border-radius: 15px;
	padding: 15px 30px;
	letter-spacing: 1px;
	cursor: pointer
}

button:hover {
	color: #ffffff;
	background-color: #0a0a0a;
}

.section-2{
	padding-top: 10vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80vh;
}

img{
	border-radius: 50%;
	align-self: center;
    border: 3px solid #FFF;
}

@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding: 0;
        padding-top: 5rem;
        padding-left: 1rem;
    }
    img{
    	display: none;
    }
}
